.App {
  display: flex;
  flex:auto;
  text-align: center;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
img{
  width: 400px;
  height: 400px;
  object-fit: scale;
  flex-shrink: 2;
  float: right;
}
button{
  margin-left: 45.5%;
  margin-right: 45.5%;
}

